body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Times New Roman, Serif;
}

figure {
    margin: 0;
}

.container {
    width: 1100px;
    padding: 50px 50px 30px;
    background: #fff4f4b8 url("images/background.jpg") 0 0 no-repeat;
    background-size: contain;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);

}

.header {
    display: flex;
}

.header-container {
    margin-left: 120px;
}

.avatar {
    display: block;
    width: 200px;
    border-radius: 50%;
}

.contact-info {
    display: flex;
}

.contact-list {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    align-items: center;
}

.contact-list > li {
    display: flex;
    align-items: center;
}

.address-images {
    height: 25px;
    margin-right: 15px;
}

.phone {
    margin-right: 8px;
    margin-left: 15px;
}

.row-content {
    display: flex;
}

.row-title {
    width: 320px;
    flex-shrink: 0;
    color: white;
    font-size: 18px;
}

.row-title > h3 {
    margin-top: 16px;
}

mark {
    background-color: #ef93ff36;
}

.list {
     padding-inline-start: 20px;
 }

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer *{
    margin: 5px;
    color: black;
    text-decoration: none;
}

.rs-img {
    width: 60px;
}
